<h1>Locaweb</h1>
<p> URL: <%= @url %> </p>

<table>
<% @tweets.each do |tweet| %>
 <% tweet['user_mentions'].each do |mention| %>
  <tr>
   <td>Name: <%= mention['name'] %></td>
   <td>Screen Name: <%= mention['screen_name'] %></td>
  </tr> 
 <% end %>  
<% end %>
</table>